.cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.cart-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #3e3e3e;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.resume {
    color: white;
}

.cart-total {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.checkout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

.back-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

.checkout-button:hover {
    background-color: #45a049;
    color: black;
}

.back-button:hover {
    background-color: white;
    color: black;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3e3e3e;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}
