.body {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-list .product {
    margin: 10px 0;
    text-align: left;
}