.boton1 {
    background-color: black;
    border-color: white;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.boton1:hover {
    background-color: white;
    color: black;
}