/* Centrar el contenedor principal */
.dolar-api {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 170);
    color: black;
    font-size: 0.6rem;
}

/* Estilos de alineación para el valor de compra y venta */
.producto-item {
    display: flex;
    gap: 50px;
    padding-top: 7px;
}

/* Estilos de mensaje de error */
.error-message {
    color: red;
    font-size: 1rem;
}

