.TarjetaProductos {
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 62, 62);
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.TarjetaProductos:hover {
    box-shadow: 0px 8px 10px 5px rgb(0, 0, 0, 0.3);
}

.TarjetaProductos p {
    font-weight: bolder;
    margin-top: 0px;
}

.TarjetaProductos img {
    border-radius: 5px;
}

.button-detalles {
    background-color: #0e0e0e;
    border-style: none;
    color: #fff;
    margin-top: 4px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.button-detalles:hover {
    background-color: white;
    color: black;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}